Source: pythonpy
Section: utils
Priority: optional
Maintainer: Tiago Ilieve <tiago.myhro@gmail.com>
Build-Depends: bash-completion,
               debhelper (>= 9),
               dh-python,
               python3,
               python3-setuptools
Build-Depends-Indep: txt2man
Standards-Version: 3.9.8
Testsuite: autopkgtest
X-Python-Version: >= 3.3
Homepage: https://github.com/Russell91/pythonpy
Vcs-Git: https://anonscm.debian.org/git/collab-maint/pythonpy.git
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/pythonpy.git

Package: pythonpy
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Suggests: bash-completion
Description: 'python -c', with tab completion and shorthand
 pythonpy is an utility that facilitates the usage of Python one-liners. The
 command 'py' evaluates a string consisting of any Python expression. It can do
 anything from simple arithmetic to complex operations, importing modules
 automatically. It also comes with tab completion.
 .
 Its usage is not restricted to single expressions only. There's also the
 possibility to pipe data from stdin and to stdout, even generating strings to
 be evaluated by other programs.
