#!/usr/bin/make -f

%:
	dh $@ --with bash-completion,python2


override_dh_auto_install:
	python setup.py install --root=debian/pythonpy --install-layout=deb --install-lib=/usr/share/pythonpy --install-scripts=/usr/share/pythonpy


override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/pythonpy/usr/share/pythonpy/pythonpy/__main__.py
	chmod 755 debian/pythonpy/usr/share/pythonpy/pythonpy/pycompleter.py


override_dh_python2:
	dh_python2
	rm -rf debian/pythonpy/usr/share/pythonpy/pythonpy-*.egg-info/
